$side_bar_width: 240px;
$font-editor: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
$panel-width: 240px;
// $keyframes spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }