{
  "dev": {
    "name": "测试环境 8444端口",
    "script": "npm run build",
    "host": "192.168.10.95",
    "port": 22,
    "username": "root",
    "password": "fengyukeji",
    "distPath": "dist",
    "webDir": "/home/FYBackstage/dist",
    "isRemoveRemoteFile": false,
    "isRemoveLocalFile": true
  },
  "prod": {
    "name": "生产环境 8446端口",
    "script": "npm run build",
    "host": "192.168.10.95",
    "port": 22,
    "username": "root",
    "password": "fengyukeji",
    "distPath": "dist",
    "webDir": "/home/FYBackstage/dist",
    "isRemoveRemoteFile": false,
    "isRemoveLocalFile": false
  },
  "test": {
    "name": "测试环境 95端口",
    "script": "npm run build",
    "host": "192.168.10.95",
    "port": 22,
    "username": "root",
    "password": "fengyukeji",
    "distPath": "dist",
    "webDir": "/home/FYBackstage/dist",
    "isRemoveRemoteFile": false,
    "isRemoveLocalFile": true
  },
  "projectName": "fy",
  "privateKey": "C:\\users",
  "passphrase": "",
  "cluster": []
}